[submodule "bundle/color-solarized"]
	path = bundle/color-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/plug-syntastic"]
	path = bundle/plug-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/plug-fugitive"]
	path = bundle/plug-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/plug-airline"]
	path = bundle/plug-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
